<app-layout pageTitle="Add Products">
    <div class="form-page">


        <div class="form-card">

            <h1>Add Product</h1>

            <div class="form-group">

                <label>Product Name</label>

                <input type="text" [(ngModel)]="name" placeholder="Enter product name">

            </div>

            <div class="form-group">

                <label>Description</label>

                <textarea [(ngModel)]="description" placeholder="Enter product description">
            </textarea>
                <br>

                <button type="button" (click)="generateDescription()" [disabled]="isGenerating">

                    {{ isGenerating ? '⏳ Generating AI Description...' : '✨ Generate AI Description' }}

                </button>
            </div>

            <div class="form-group">

                <label>Price</label>

                <input type="number" [(ngModel)]="price" placeholder="Enter product price">

            </div>

            <button class="save-btn" (click)="saveProduct()">

                Save Product

            </button>

        </div>


    </div>
</app-layout>